{% extends 'base.html.twig' %}

{% block title %}Détails partenaire{% endblock %}

{% block body %}
<div class="container">
{% include('_footer.html.twig') %}
{# Alert message after contactForm message sending #}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success text-center mt-5">
            {{ message }}
        </div>
    {% endfor %}

{% for partner in partners %}
    {% if partner.id is same as app.user.id %}
        <div class="containe user">
            <div class="row">
                <div class="col-lg-12 user__title">
                    <h1 class="page-header text-center mt-5 mb-3">{{ partner.name }}</h1>
                </div>
                <div class="d-flex justify-content-center user__btn">
                    <button class="btn btn-outline-primary mx-3">     
                        <a href="{{ path('app_search') }}">
                            <i class="fa-solid fa-magnifying-glass fa-2x user__btn--icon" title="Rechercher"></i>
                        </a>
                    </button>
                    <button class="btn btn-outline-primary mx-3">     
                        <a href="{{ path('app_contact_form_partner_new', {'idPartner': app.user.id }) }}">
                            <i class="fa-solid fa-message fa-2x user__btn--icon" title="Ecrire un nouveau message"></i>
                        </a>
                    </button>
                    <button class="btn btn-outline-primary user__btn--btnDisconnect mx-3">     
                        <a href="{{ path('app_logout') }}">
                            <i class="fa-solid fa-power-off fa-2x user__btn--icon" title="Déconnexion"></i>
                        </a>
                    </button>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row mt-5">
                <div class="row row-cols-12 row-cols-lg-3 d-flex justify-content-around partnerDetails">
                    <section class="mt-5">
                        <p>
                            <p class="mb-4">Bonjour {{ partner.name }},</p>
                            <p>Retrouvez ici vos informations personnelles.</p>
                        </p>
                        <div>
                            <p><b>Votre email de contact:</b> {{ partner.email }}.</p>
                            <p><b>Votre addresse:</b> {{ partner.address | title }}.</p>
                        </div>
                        <div>
                            <a href="{{ path('app_partner_new_password', {'id': partner.id}) }}" class="changePassword">Modifier</a>
                            mon mot de passe.
                        </div>
                        <div class="mt-3">
                            <p>
                                Vos structures: 
                                {% for structure in structures %}
                                    {% if partner.id is same as structure.partnerId.Id %}
                                        <li class="mx-4">
                                            <a href="{{ path('app_partner_consult_structure', {'id': structure.id }) }}" class="partnerDetails__structurelist" >{{ structure.id }} - {{ structure.name }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </p>
                    </section>

                    <section class="mt-5">
                        <h2>Vos permissions</h2>
                        <ul class="partnerPerms">
                            <li><b>Compte actif:</b> {{ partner.active ? '<i class="fa-solid fa-check check fa-2x"></i>' : '<i class="fa-solid fa-circle-xmark uncheck fa-2x"></i>' }}</li>
                            <li><b>Vendre de la nourriture:</b> {{ partner.sellFood ? '<i class="fa-solid fa-check check fa-2x"></i>' : '<i class="fa-solid fa-circle-xmark uncheck fa-2x"></i>' }}</li>
                            <li><b>Vendre de la boisson:</b> {{ partner.sellDrink ? '<i class="fa-solid fa-check check fa-2x"></i>' : '<i class="fa-solid fa-circle-xmark uncheck fa-2x"></i>' }}</li>
                            <li><b>Envoyer des newsletters:</b> {{ partner.sendNewsletter ? '<i class="fa-solid fa-check check fa-2x"></i>' : '<i class="fa-solid fa-circle-xmark uncheck fa-2x"></i>' }}</li>
                            <li><b>Utiliser le gestionnaire de planning:</b> {{ partner.scheduleManagement ? '<i class="fa-solid fa-check check fa-2x"></i>' : '<i class="fa-solid fa-circle-xmark uncheck fa-2x"></i>' }}</li>
                            <li><b>Proposer des cours particuliers:</b> {{ partner.privateLesson ? '<i class="fa-solid fa-check check fa-2x"></i>' : '<i class="fa-solid fa-circle-xmark uncheck fa-2x"></i>' }}</li>
                        </ul>
                    </section>
                </div>
            </div>
        </div>

    {% endif %}
{% endfor %}
</div>

{% endblock %}
